<section class="section">
  <div class="container">
    <h2 class="title is-3">💬 Ваші чати</h2>

    <div class="box">
      <ul>
        <% @conversations.each do |user| %>
          <li class="mb-2">
            <a class="button is-link is-light is-fullwidth" href="/conversations/<%= user.id %>">
              <strong><%= user.username %></strong>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

    <a href="/profile" class="button is-info mt-4">
      ⬅ Назад до профілю
    </a>
  </div>
</section>
